/* Colors */
/* default values */
/* alerts */
/* modifiers */
/* line 17, ../sass/widgets/_basic.scss */
.rounded, nav.nav-h-pills li a, .alert {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 21, ../sass/widgets/_basic.scss */
.brdr {
  border: 1px solid #dddddd;
}

/* line 25, ../sass/widgets/_basic.scss */
.fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

/***** Components *****/
/* nav */
/* line 35, ../sass/widgets/_basic.scss */
nav ul {
  width: 100%;
}

/* Horiz nav */
/* line 41, ../sass/widgets/_basic.scss */
nav.nav-h {
  background: #dddddd;
}

/* line 49, ../sass/widgets/_basic.scss */
nav.nav-h ul li.active a {
  background: #aaaaaa;
}

/* pills */
/* line 55, ../sass/widgets/_basic.scss */
nav.nav-h-pills {
  border: 0;
}

/* line 60, ../sass/widgets/_basic.scss */
nav.nav-h-pills li {
  padding: 5px;
}

/* line 64, ../sass/widgets/_basic.scss */
nav.nav-h-pills li a {
  padding: 5px;
}

/* line 69, ../sass/widgets/_basic.scss */
nav.nav-h-pills li.active a, nav.nav-h-pills li:hover a {
  background: #aaaaaa;
}

/* Vertical nav */
/* line 80, ../sass/widgets/_basic.scss */
nav.nav-v li {
  display: inline-block;
  position: relative;
  width: 100%;
}

/* line 86, ../sass/widgets/_basic.scss */
nav.nav-v li a {
  padding: 8px 0 8px 8px;
  width: 100%;
}

/* line 91, ../sass/widgets/_basic.scss */
nav.nav-v li a:hover, nav.nav-v li.active a {
  background: none;
}

/* line 95, ../sass/widgets/_basic.scss */
nav.nav-v li:hover, nav.nav-v li.active {
  background: #aaaaaa;
}

/* Box */
/* line 103, ../sass/widgets/_basic.scss */
.box {
  padding: 25px;
  background: #cccccc;
}

/* line 112, ../sass/widgets/_basic.scss */
.box-leaf {
  padding: 25px;
  background: #cccccc;
  -moz-border-radius-topleft: 60px;
  -webkit-border-top-left-radius: 60px;
  border-top-left-radius: 60px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* line 121, ../sass/widgets/_basic.scss */
.box img, .box-leaf img {
  padding: 15px 0 0 0;
}

/* Alerts */
/* line 127, ../sass/widgets/_basic.scss */
.alert {
  margin: 5px 0 5px 0;
  display: block;
  padding: 10px 10px;
  background: #dddddd;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
}

/* line 138, ../sass/widgets/_basic.scss */
.alert-info {
  background: #019ae8;
}

/* line 142, ../sass/widgets/_basic.scss */
.alert-error {
  background: #bb3732;
}

/* line 146, ../sass/widgets/_basic.scss */
.alert-success {
  background: #9cbc01;
}

/* mobile nav */
/* line 3, ../sass/mobile/_base.scss */
nav span.openMenu {
  cursor: pointer;
}

/* line 5, ../sass/custom.scss */
html {
  font-size: 62.5%;
  line-height: 1.9em;
}

/* line 10, ../sass/custom.scss */
body {
  font-size: 1.3em;
}

/* CONTENT
================================================== */
/* line 18, ../sass/custom.scss */
section {
  margin: 10px 0;
}

/* FOOTER
================================================== */
/* line 24, ../sass/custom.scss */
footer {
  background: black;
  min-height: 50px;
  margin-top: 30px;
  padding: 20px 0 10px 0;
}
/* line 29, ../sass/custom.scss */
footer h2 {
  color: white;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}
/* line 35, ../sass/custom.scss */
footer p,
footer blockquote,
footer article,
footer section {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
/* line 50, ../sass/core/_typography.scss */
footer a {
  color: white;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
/* line 53, ../sass/core/_typography.scss */
footer a:hover {
  color: #999999;
}
/* line 54, ../sass/core/_typography.scss */
footer a:visited {
  color: white;
}

/* ================================================
    Custom Media Queries
================================================== */
