/* Colors */
/* default values */
/* modifiers */
/* line 10, ../sass/widgets/_basic.scss */
.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 14, ../sass/widgets/_basic.scss */
.no-m {
  margin: 0!important;
  /* Kill margins */
}

/* line 18, ../sass/widgets/_basic.scss */
.brdr {
  border: 1px solid #dddddd;
}

/* components */
/* line 24, ../sass/widgets/_basic.scss */
.box {
  padding: 10px;
  background: #eeeeee;
}

/* line 29, ../sass/widgets/_basic.scss */
.box-leaf {
  padding: 25px;
  background: #FBE4E4;
  -moz-border-radius-topleft: 60px;
  -webkit-border-top-left-radius: 60px;
  border-top-left-radius: 60px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* CONTENT
================================================== */
/* line 10, ../sass/custom.scss */
section {
  margin: 10px 0;
}

/* FOOTER
================================================== */
/* line 16, ../sass/custom.scss */
footer {
  background: black;
  min-height: 50px;
  margin-top: 30px;
  padding: 20px 0 10px 0;
}
/* line 21, ../sass/custom.scss */
footer h2 {
  color: white;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}
/* line 27, ../sass/custom.scss */
footer p,
footer blockquote,
footer article,
footer section {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
/* line 50, ../sass/core/_typography.scss */
footer a {
  color: white;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
/* line 53, ../sass/core/_typography.scss */
footer a:hover {
  color: #999999;
}
/* line 54, ../sass/core/_typography.scss */
footer a:visited {
  color: white;
}

/* ================================================
    Custom Media Queries
================================================== */
