/* Colors */
$light-grey : #DDD;
$normal-grey : #AAA;
$box-def-bg : #CCC;

/* default values */
$def-radius : 5px; 

/* alerts */
$success-color : #9CBC01;
$error-color : #BB3732;
$info-color : #019AE8;


/* modifiers */

.rounded {
	@include border-radius($def-radius);
}

.brdr {
	border: 1px solid $light-grey;
}

.fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

/***** Components *****/ 

/* nav */

nav ul {
  width: 100%;
}

/* Horiz nav */

nav.nav-h {
  background: $light-grey;
}

nav.nav-h ul li a {
  
}

nav.nav-h ul li.active a {
  background: $normal-grey;
}

/* pills */

nav.nav-h-pills {
  border: 0;

}

nav.nav-h-pills li {
  padding: 5px;
}

nav.nav-h-pills li a {
  padding: 5px;
  @extend .rounded;
}

nav.nav-h-pills li.active a, nav.nav-h-pills li:hover a  {
  background: $normal-grey;
}


/* Vertical nav */

nav.nav-v {

}

nav.nav-v li {
  display: inline-block;
  position: relative;
  width: 100%;
}

nav.nav-v li a {
  padding: 8px 0 8px 8px;
  width: 100%;
}

nav.nav-v li a:hover, nav.nav-v li.active a {
  background: none;
}

nav.nav-v li:hover, nav.nav-v li.active {
  background: $normal-grey;
}



/* Box */

.box {
	padding: 25px;
	background : $box-def-bg;
}

.box h2 {
  
}

.box-leaf {
  padding: 25px;
  background : $box-def-bg;
  @include border-corner-radius(top, left, 60px);
  @include border-corner-radius(top, right, $def-radius);
  @include border-corner-radius(bottom, left, 10px);
  @include border-corner-radius(bottom, right, 50px); 
 }

.box img, .box-leaf img {
  padding: 15px 0 0 0;
}

/* Alerts */

.alert {
  margin: 5px 0 5px 0;
  display: block;
  padding: 10px 10px;
  background: $light-grey; 
  @extend .rounded;
  @include text(white);

  font-weight: bold;
}

.alert-info {
  background: $info-color;
}

.alert-error {
  background: $error-color;
}

.alert-success {
  background: $success-color;
}
